SECRET_KEY = 
DEBUG = 
ALLOWED_HOSTS=

DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432

SQB_BASE_URL=https://electron-commerce.sqb.uz:10888
SQB_USERNAME=
SQB_PASSWORD=
SQB_TERMINAL_ID=
SQB_MAC_KEY=