amqp==5.3.1
annotated-types==0.7.0
asgiref==3.11.1
billiard==4.2.4
celery==5.6.3
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
Django==5.2.15
django-cors-headers==4.9.0
django-ninja==1.6.2
django-unfold==0.91.0
environs==15.0.1
gunicorn==26.0.0
kombu==5.6.2
marshmallow==4.3.0
packaging==26.2
pillow==12.3.0
prompt_toolkit==3.0.52
psycopg[binary]==3.2.3
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
redis==8.0.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.2
tzlocal==5.4.4
vine==5.1.0
wcwidth==0.8.2
